@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Kaushan+Script&family=Roboto:wght@300;400;700&display=swap");
@import url(".googleapis.com/https://fontscss2?family=Roboto:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

HTML {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #5f5f5f;
}

.navbar {
  display: flex;
  position: fixed;
  height: 4em;
  align-items: center;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
}
.navbar .img {
  position: absolute;
  width: 100%;
  z-index: 90;
  left: 1em;
  width: auto;
  height: 4em;
  top: 0.7em;
}
.navbar .examples {
  position: absolute;
  right: 0.9em;
  z-index: 2;
}
.navbar button {
  background: transparent;
  border-radius: 0;
  cursor: pointer;
}
.navbar .button-one {
  --button-color: $main;
}
.navbar .button-one .line {
  transition: y 100ms ease-in 100ms, rotate 100ms ease-in, opacity 100ms ease-in 0ms;
  transform-origin: center;
}
.navbar .button-one[aria-expanded=true] .line {
  transition: y 100ms ease-in, rotate 100ms ease-in 100ms, opacity 100ms ease-in 0ms;
}
.navbar .button-one[aria-expanded=true] :is(.top, .bottom) {
  y: 45;
}
.navbar .button-one[aria-expanded=true] .top {
  rotate: 45deg;
}
.navbar .button-one[aria-expanded=true] .middle {
  opacity: 0;
}
.navbar .button-one[aria-expanded=true] .bottom {
  rotate: -45deg;
}

.navbar .button-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar .container {
  display: flex;
  position: absolute;
  right: -100%;
  transition: 0.5s ease-out;
}
.navbar .container.active {
  display: flex;
  position: absolute;
  right: 4%;
}
.navbar .container a {
  position: relative;
  width: 130px;
  height: 45px;
  display: inline-block;
  margin-right: 25px;
}
.navbar .container a:after {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
  transition: 0.2s;
  width: 100%;
  height: 100%;
}
.navbar .container a span {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  text-transform: uppercase;
  color: #000;
  border: solid #000 2px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.navbar .container a span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.075);
  transform: skew(25deg);
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
header header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 25;
}
header .mountain1 {
  position: absolute;
  width: 75em;
  bottom: -250px;
  left: 0;
  z-index: 22;
  left: -8em;
}
header .mountain2 {
  position: absolute;
  bottom: -80px;
  width: 82em;
  right: 0;
  z-index: 20;
}
header .mountain3 {
  position: absolute;
  width: 1400px;
  left: 0;
  top: 0;
  z-index: 19;
  background-color: wheat;
}
header .big-tittle {
  position: absolute;
  z-index: 21;
  top: 25%;
  width: 100%;
  font-size: 15em;
  text-align: center;
  color: #ffffff;
  font-family: "Kaushan Script", cursive;
  right: 2.25%;
}
header .big-tittle span {
  margin-left: 2.25%;
}

article {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 1.5rem;
}
article .shadow {
  position: absolute;
  bottom: 100%;
  height: 100px;
  width: 100%;
  z-index: 25;
  background: linear-gradient(to top, #000000, transparent);
}
article .face {
  position: relative;
  justify-content: center;
  width: 20rem;
  height: 13rem;
  border-radius: 0.2rem;
  transition: 0.4s;
  font-family: "Roboto", sans-serif;
}
article .face2 p {
  font-weight: bold;
}

article .face1 {
  background-color: #333;
  display: flex;
  z-index: 26;
  font-size: 1.5em;
  transform: translateY(6.5rem);
}
article .face2 {
  background-color: #fff;
  font-size: 1.03rem;
  padding: 1rem;
  transform: translateY(-6.5rem);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
article .content a {
  padding: 0.3em;
  line-height: 3.4em;
  border-radius: 0.2rem;
  color: #000;
  background-color: #ededed;
  border: 1px solid #000;
}
article b {
  color: #5c5c5c;
  text-align: center;
}
article .content1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 2.5rem;
}
article img {
  width: 4em;
  filter: invert(35%) sepia(77%) saturate(0%) hue-rotate(220deg) brightness(87%) contrast(93%);
}

.area_qr{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.area_qr .area_input_qr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
} 
.area_qr .area_input_qr .lbl_qr{
  color: black;
  font: bold 20px "Roboto";
  margin-bottom: 4%;
}
.area_qr .area_input_qr .input_qr{
  height: 50px;
  width: 100%;
  border: 2px solid #88AB8E;
  border-radius: 20px;
  font-size: 24px;
  text-align: center;
}
.area_qr .area_btn_qr{
  display: flex;
  justify-content: center;
  width: 100%;
}
.area_qr .area_btn_qr .btn_qr{
  font-size: 17px;
  height: 50px;
  width: 15%;
  color: white;
  border: 2px solid white;
  border-radius: 20px ;
  background-color:#88AB8E;
}
.area_about_us{
  height: 100%;
  margin: 0;
  background-color: #333;
  font-family: Bebas Neue;
}
.area_about_us>h2{
  color: #88AB8E;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 75px;
  margin-bottom: 150px; 
}
.area_kartu_nama{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.area_kartu_nama .kartu_nama{
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
.area_kartu_nama .kartu_nama:hover{
  box-shadow: 0 6px 12px #5c8963;
  scale: 1.2;
}
.area_kartu_nama .kartu_nama img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.modal-content {
  font-family: Bebas Neue;
  color: white;
  background-color: #88AB8E;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media (min-width: 1440px) {
  header .big-tittle span {
    margin-left: 2.15%;
  }
  header .mountain1 {
    width: 89em;
  }
  header .mountain2 {
    width: 99.5em;
  }
  header .mountain3 {
    width: 1440px;
  }
}
@media (min-width: 1024px) {
  article .card:hover .face1 {
    transform: translateY(0);
    box-shadow: inset 0 0 60px whitesmoke, inset 0 0 80px #ffe9cc, inset 0 0 80px #ffc06d, inset 0 0 100px #ff9100, inset 0 0 75px #ffc06d, 0 0 50px #fff, -10px 0 80px #ff9100, 10px 0 80px #ffc06d;
  }
  article .card:hover .face2 {
    transform: translateY(0);
  }
  article .card:hover .content1 img {
    filter: invert(100%) sepia(2%) saturate(6740%) hue-rotate(162deg) brightness(109%) contrast(115%);
  }
  article .card:hover .content1 b {
    color: #ffffff;
  }
}
@media (min-width: 769px) {
  .navbar .container a:hover::after {
    background: #ffc06d;
    filter: blur(10px);
    width: 100%;
    height: 100%;
  }
  .primary .read-more.shrink {
    padding: 0.15em; /* Change to desired shrink scale */
  }
  .primary .read-more:hover {
    background-color: #dedede;
  }
}
@media (max-width: 1024px) {
  article {
    height: 100%;
  }
  article .card.actived .face1 {
    transform: translateY(0);
    box-shadow: inset 0 0 60px whitesmoke, inset 0 0 80px #ff9100, inset 0 0 80px #ffc06d, inset 0 0 100px #ff9100, inset 0 0 75px #ffc06d, 0 0 50px #fff, -10px 0 80px #ff9100, 10px 0 80px #ffc06d;
  }
  article .card.actived .face2 {
    transform: translateY(0);
  }
  article .card.actived .content1 img {
    filter: invert(100%) sepia(2%) saturate(6740%) hue-rotate(162deg) brightness(109%) contrast(115%);
  }
  article .card.actived .content1 b {
    color: #ffffff;
  }
}
@media (max-width: 1024px) {
  header .big-tittle {
    font-size: 8.5em;
  }
  .navbar .img {
    left: 0.5em;
  }
  .navbar .examples {
    right: 0.4em;
  }
  .navbar .container {
    right: -100%;
  }
  .navbar .container.active {
    right: 6.3%;
  }
  .navbar .container a {
    margin-right: 0.8em;
    position: relative;
    width: 90px;
    height: 40px;
  }
  .navbar .container a span {
    font-size: 1.1em;
  }
  .navbar .container a:after {
    content: "";
    position: absolute;
    background: transparent;
    transition: 0.2s;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 910px) {
  figure .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .navbar .container a span {
    font-size: 1.1em;
  }
  .navbar .container a.clicked::after {
    filter: blur(10px);
    background: #5a3300;
  }
  .primary .read-more.shrink {
    padding: 0.15em;
    background-color: #dedede;
  }
}
@media (max-width: 670px) {
  .navbar .img {
    left: 0.5em;
  }
  .navbar .examples {
    right: 0.3em;
  }
  .navbar .container {
    right: -200%;
  }
  .navbar .container.active {
    right: 11.5%;
  }
  .navbar .container a {
    margin-right: 0.5em;
    width: 65px;
    height: 35px;
  }
  .navbar .container a span {
    font-size: 0.78em;
  }
  .area_kartu_nama {
    flex-direction: column;
    align-items: center;
  }

  .kartu_nama {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 540px) {
  .navbar .container a:after {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    transition: 0.2s;
    width: 100%;
    height: 100%;
  }
  .navbar .img {
    left: 100%;
  }
  
}
@media (max-width: 500px) {
  header .big-tittle {
    font-size: 7.8em;
  }
}
@media (max-width: 425px) {
  .navbar .examples {
    right: 0.2em;
  }
  .navbar .container.active {
    right: 11.5%;
  }
  .navbar .container a span {
    font-size: 0.77em;
  }
  .navbar .container a {
    margin-right: 0.3em;
  }
}
@media (max-width: 400px) {
  .navbar .examples {
    right: 0.1em;
  }
  .navbar .container.active {
    right: 11.5%;
  }
  .navbar .container a span {
    font-size: 0.7em;
    font-weight: bold;
  }
  .navbar .container a {
    margin-right: 0.3em;
    width: 58px;
    height: 29px;
  }
  header .big-tittle {
    font-size: 6em;
    margin-top: 10%;
  }
}
@media (max-width: 355px) {
  .navbar .examples {
    right: 0.1em;
  }
  .navbar .container.active {
    right: 12.6%;
  }
  .navbar .container a span {
    font-size: 0.6em;
    font-weight: bold;
  }
  .navbar .container a {
    margin-right: 0.3em;
    width: 50px;
    height: 27px;
  }
  .area_qr .area_input_qr .lbl_qr{
    margin-left: 5%;
    font-size: 15px;
  }
  .area_qr .area_btn_qr .btn_qr{
    height: 30px;
    font-size: 14px;
  }
}